<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Cookies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> Cookies Admin Login</h1>
        <form action="/" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>

    <img src="{{ url_for('static', filename='1.png') }}" class="cookie-img cookie1" alt="Cookie 1">
    <img src="{{ url_for('static', filename='1.png') }}" class="cookie-img cookie1" alt="Cookie 1">
    <img src="{{ url_for('static', filename='2.png') }}" class="cookie-img cookie2" alt="Cookie 2">
    <img src="{{ url_for('static', filename='3.png') }}" class="cookie-img cookie3" alt="Cookie 3">
</body>
</html>
